<div id="bet-<%= bet.id %>" class="bet-panel-small <%= bet.status.downcase %> <%= cycle("even", "odd") -%>">
	<div class="bet-title"><%= link_to bet.title, bet, :title => "Show details of " + bet.title + " bet"  %></div>
	<div class="bet-description"><%= truncate(bet.description, :length => 80) %></div>
	<div class="bet-end-date">Ends <%= bet.end_date.strftime("%a %d %b %Y") %></div>
	<div class="bet-wager-info">
		<div class="bet-wager-amount">Total bets : <%= bet.total_wagers %> worth <%= bet.total_value %> credits</div>
		<div class="bet-wager-amount"><%= bet.wagers.bets_for.size %> bets for - <%= bet.wagers.bets_against.size %> bets against</div>
		<div class="bet-wager-amount">Default wager amount : <%= bet.wager_amount %> credits</div>
	</div>
	<div class="bet-display-name-line"><span class="bet-display-name"><%= bet.display_name %></span> says <%= APP_CONFIG["application_name"] %>!</div>
</div>	