<div id="previews" class="wagers"> 
	
	<% if @wagers.size == 0 %>
		&nbsp
	<% end %>
	
<% for wager in @wagers do %>
	<span class="bold"><%= wager.user.display_name %></span> <%= wager.in_words %> and put <span class="bold"><%= wager.credits %></span> credits the line on  <%= wager.created_at.strftime("%a %d %b %Y %I:%M %p") %><br />
<% end %>	

<%= will_paginate @wagers, :params => {:controller => "wagers", :action => "my_wagers"} %>
</div>