<%= form_for @purchase, :as => :purchase, :url => wallet_purchase_path do |f| %>
	<%= error_messages_for(@purchase) %>
	
	<p><%= f.label :amount, "Amount" %>
	   <%= f.number_field :amount, :min => 50, :max => 500, :step => 50 %>
	</p>
	<p>
	   <%= f.submit 'Buy' %>
	</p>
	
<% end %>