<% title "My Wallet" %>

<div class="thin-border credit-box left standard-padding">
<h3>My Credits </h3>	

<p>
  <strong>Credits:</strong>
  <%= @wallet.credits %><br /> 
  <span class="small-text italics">worth approx. <%= number_to_currency(@wallet.credits  * get_credit_value, :unit => "$") %></span>
</p>
<p><%= link_to "Buy Credits >>", wallet_buy_path(current_user.wallet), :class => "red-text" %></p>

</div>

<% if current_user.try(:admin?) %>	
	<%= render 'admin-links' %>
<% end %>

<div class="clear"></div>

<div class="my-links bold">
  	<%= link_to "Transactions", {:controller => "wallets", :action => "show"}, :remote => true %>  | 
	<%= link_to "My Bets", my_bets_path, :remote => true %> | 
	<%= link_to "My Betting History", my_wagers_path, :remote => true %>
</div>

<%= render 'transactions' %>
