<% title "My Wallet" %>

<div class="thin-border">
<h3>My Credits </h3>	

<p>
  <strong>Credits:</strong>
  <%= @wallet.credits %>
</p>
<p><%= link_to "Buy Credits >>", wallet_buy_path(current_user.wallet) %></p>

</div>

<div class="my-links bold">
  	<%= link_to "Transactions", {:controller => "wallets", :action => "show"}, :remote => true %>  | 
	<%= link_to "My Bets", my_bets_path, :remote => true %> | 
	<%= link_to "My Betting History", my_wagers_path, :remote => true %>
</div>

<%= render 'transactions' %>
